<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Add Student</h2>
  
                <form action="/students/create-student" method="post">
  
                  <div class="form-outline mb-4">
                    <input type="text" id="batch" name="batch" class="form-control form-control-lg" placeholder="Batch"/>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="name" name="name" class="form-control form-control-lg" placeholder="Name"/>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email" />
                  </div>
                  <div class="form-outline mb-4">
                    <input type="number" id="phone" name="phone" class="form-control form-control-lg" placeholder="Phone" />
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="college" name="college" class="form-control form-control-lg" placeholder="College" />
                  </div>
  
                  <div class="form-outline mb-4">
                    <label for="placement" class="form-label">Placement Status</label>
					<select class="form-select" aria-label="Default select example" name="placement" id="placement">
						<option value="Placed">Placed</option>
						<option value="Not Placed">Not Placed</option>
					</select>
                  </div>
                  <div class="mb-3" style="display: flex; justify-content: space-between">
					<div class="mb-3 p-1">
						<label for="dsa" class="form-label">DSA</label>
						<input type="text" class="form-control" id="dsa" name="dsa" />
					</div>
					<div class="mb-3 p-1">
						<label for="webd" class="form-label">Web Development</label>
						<input type="text" class="form-control" id="webd" name="webd" />
					</div>
					<div class="mb-3 p-1">
						<label for="react" class="form-label">React</label>
						<input type="text" class="form-control" id="react" name="react" />
					</div>
				</div>
                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Submit</button>
                  </div>

                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>